<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3" id="contact">

		<div class="measure-narrow center mb4">

			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			<div>

		</div>

		<ul class="mb3 center" style="text-align: center;">
			<li>Email: <a href="mailto:{{ .Site.Data.footer.email }}" class="link">{{ .Site.Data.footer.email }}</a></li>
			<li>Telefon: <a href="tel:{{ .Site.Data.footer.phoneNumber }}" class="link">{{ .Site.Data.footer.phoneNumber }}</a></li>
			<li>Instagram: <a href="https://www.instagram.com/{{ .Site.Data.footer.instagramUsername }}" class="link" target="_blank">{{ .Site.Data.footer.instagramUsername }}</a></li>
			<li>Facebook: <a href="https://www.facebook.com/{{ .Site.Data.footer.facebookUsername }}" class="link" target="_blank">{{ .Site.Data.footer.facebookUsername }}</a></li>
		</ul>


		</div>
	</div>

</footer>

